# style.css

body {
    background-color:lightgrey;
  }

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  flex: 50%;
  padding: 0px;
  height: 300px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row {
	display: flex;
	margin-top: 20px;
 }

p {
text-align: center;
}

h6 {
	text-align: center;
    margin-top: 90px;
}

.vectors {
	margin-top: 100px;
}

.p {
	text-align: center;
margin-top: 2px;
}

.font {
	text-align: center;
	color:skyblue;
}

@media all and(max-width:320px){

.column {
  float: left;
  flex: 100%;
  padding: 0px;
  height: 100px; /* Should be removed. Only for demonstration */
}

p {
	font-size: 10px;
}

h6 {
	  font-size: 12px;
    margin-top: 10px;
}

.vectors {
	margin-top: 20px;
}

}